@font-face {
  font-family: "iconfont"; /* Project id 3274886 */
  src: url('//at.alicdn.com/t/font_3274886_5msd188pcib.woff2?t=1648114109207') format('woff2'),
       url('//at.alicdn.com/t/font_3274886_5msd188pcib.woff?t=1648114109207') format('woff'),
       url('//at.alicdn.com/t/font_3274886_5msd188pcib.ttf?t=1648114109207') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-24:before {
  content: "\e618";
}

.icon-pinglun:before {
  content: "\e6ad";
}

.icon-home:before {
  content: "\e7c6";
}

.icon-tuichu:before {
  content: "\e865";
}

.icon-user:before {
  content: "\e99e";
}
